# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Ma'lumotlar bazasi
*.db
*.sqlite
*.sqlite3

# Muhim fayllar
.env
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

# Log fayllar
*.log
